<%- include('includes/head') -%>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

<%- include('includes/nav') -%>

<div class="collection-header">
    <div class="collection-header__content">
        <h1>rings collections</h1>
        <h5>604 designs</h5>
    </div>
</div>

<section class="collection">
    <div class="container">
        <div class="collection__filters d-flex">
            <div class="filter-by">
                <h4 class="mb-3">filter by</h4>
                <div class="d-flex">
                    <label class="wrap mr-2">
                        <select name="property_type" id="property_type" class="drop">
                            <option value="" selected="selected" class="option">Properties</option>
                            <option value="18">Bungalow</option>
                            <option value="77">Detached </option>
                            <option value="19">Detached </option>
                        </select>
                    </label>
                    <label class="wrap mr-2">
                        <select name="property_type" id="property_type" class="drop">
                            <option value="" selected="selected" class="option">Properties</option>
                            <option value="18">Bungalow</option>
                            <option value="77">Detached </option>
                            <option value="19">Detached </option>
                        </select>
                    </label>
                    <label class="wrap mr-2">
                        <select name="property_type" id="property_type" class="drop">
                            <option value="" selected="selected" class="option">Properties</option>
                            <option value="18">Bungalow</option>
                            <option value="77">Detached </option>
                            <option value="19">Detached </option>
                        </select>
                    </label>
                    <label class="wrap mr-2">
                        <select name="property_type" id="property_type" class="drop">
                            <option value="" selected="selected" class="option">Properties</option>
                            <option value="18">Bungalow</option>
                            <option value="77">Detached </option>
                            <option value="19">Detached </option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="sort-by">
                <h4 class="mb-3">sort by</h4>
                <label class="wrap">
                    <select name="property_type" id="property_type" class="drop">
                        <option value="" selected="selected" class="option">Properties</option>
                        <option value="18">Bungalow</option>
                        <option value="77">Detached </option>
                        <option value="19">Detached </option>
                    </select>
                </label>
            </div>
        </div>
        <span class="heading__primary mt-5">
            <img src="/images/logo-mini.png" alt=""><br>
            <h1>ring collection</h1>
        </span>
        <div class="collection__content mt-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="item carousel__item collection__item hot__item" style="width: 100%; height: 100%;">
                        <div class="badger">On Sale</div>
                        <img src="/images/00003780-_-00005818_01.png" alt="">
                        <h4 class="mt-4">beautiful ring collection</h4>
                        <div class="hot__down">
                            <div class="hot__con d-flex">
                                <span class="mr-auto">
                                    <h4>$180000</h4>
                                </span>
                                <a class="btn btn-outline-light btn-lg rounded-0" href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="item carousel__item collection__item" style="width: 250px;">
                                <div class="badger">On Sale</div>
                                <i class="far fa-heart"></i>
                                <img src="/images/21g1720.png" alt="">
                                <div>
                                    <p>18k White color Gold Diamond</p>
                                    <p>12k</p>
                                </div>
                                <span class="item-few">Few Left</span>
                                <div class="actions d-flex justify-content-between">
                                    <span class="item-price">$15000</span>
                                    <a href="#" class="item-but">add to cart</a>
                                </div>
                            </div>
                            <div class="item carousel__item collection__item mt-4" style="width: 250px;">
                                <div class="badger">On Sale</div>
                                <i class="far fa-heart"></i>
                                <img src="/images/21g1720.png" alt="">
                                <div>
                                    <p>18k White color Gold Diamond</p>
                                    <p>12k</p>
                                </div>
                                <span class="item-few">Few Left</span>
                                <div class="actions d-flex justify-content-between">
                                    <span class="item-price">$15000</span>
                                    <a href="#" class="item-but">add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="item carousel__item collection__item" style="width: 250px;">
                                <div class="badger">On Sale</div>
                                <i class="far fa-heart"></i>
                                <img src="/images/21g1720.png" alt="">
                                <div>
                                    <p>18k White color Gold Diamond</p>
                                    <p>12k</p>
                                </div>
                                <span class="item-few">Few Left</span>
                                <div class="actions d-flex justify-content-between">
                                    <span class="item-price">$15000</span>
                                    <a href="#" class="item-but">add to cart</a>
                                </div>
                            </div>
                            <div class="item carousel__item collection__item mt-4" style="width: 250px;">
                                <div class="badger">On Sale</div>
                                <i class="far fa-heart"></i>
                                <img src="/images/21g1720.png" alt="">
                                <div>
                                    <p>18k White color Gold Diamond</p>
                                    <p>12k</p>
                                </div>
                                <span class="item-few">Few Left</span>
                                <div class="actions d-flex justify-content-between">
                                    <span class="item-price">$15000</span>
                                    <a href="#" class="item-but">add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('includes/subscribe') -%>
<%- include('includes/footer') -%>
<%- include('includes/end') -%>