<%- include('includes/head') -%>
<%- include('includes/nav') -%>

<header class="header">
    <img class="header__img" src="/images/Untitled-2.png" alt="">
    <div class="header__text-box">
        <h5 class="header__heading-up">celebrate</h5>
        <h1 class="header__heading-down">Women's Day</h1>
        <span class="header__heading-high">
            <h5>With wonderful treats</h5>
        </span>
        <h4 class="header__heading-low">of Designer Diamond Jewellery</h4>
    </div>
</header>

<section class="best-seller">
    <div class="container">
        <span class="heading__primary">
            <img src="/images/logo-mini.png" alt=""><br>
            <h1>best seller</h1>
        </span>
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="best-seller__left">
                    <img src="/images/slider-1-3.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex flex-column best-seller__right">
                    <div class="mb-auto">
                        <img src="/images/banner2.png" alt="">
                        <div class="best-seller__detail">
                            <h2>pendant set</h1>
                        </div>
                        <a class="btn btn-outline-dark btn-lg rounded-0" href="#">Shop Now</a>
                    </div>
                    <div class="text-white">
                        <img src="/images/brass-ethnic-pattern-necklace-set-dibom21239-ms-20191022-18208-1wuyyzn.png"
                            alt="">
                        <div class="best-seller__detail">
                            <h2>necklace set</h2>
                        </div>
                        <a class="btn btn-outline-light btn-lg rounded-0" href="#">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>

        <span class="heading__primary mt-4">
            <img src="/images/logo-mini.png" alt=""><br>
            <h1>top sellers</h1>
        </span>

        <div class="owl-carousel owl-theme mt-4">
            <div class="item carousel__item">
                <i class="far fa-heart"></i>
                <img src="/images/21g1720.png" alt="">
                <div>
                    <p>18k White color Gold Diamond</p>
                    <p>12k</p>
                </div>
            </div>
            <div class="item carousel__item">
                <i class="far fa-heart"></i>
                <img src="/images/21g1720.png" alt="">
                <div>
                    <p>18k White color Gold Diamond</p>
                    <p>12k</p>
                </div>
            </div>
            <div class="item carousel__item">
                <i class="far fa-heart"></i>
                <img src="/images/21g1720.png" alt="">
                <div>
                    <p>18k White color Gold Diamond</p>
                    <p>12k</p>
                </div>
            </div>
            <div class="item carousel__item">
                <i class="far fa-heart"></i>
                <img src="/images/21g1720.png" alt="">
                <div>
                    <p>18k White color Gold Diamond</p>
                    <p>12k</p>
                </div>
            </div>
            <div class="item carousel__item">
                <i class="far fa-heart"></i>
                <img src="/images/21g1720.png" alt="">
                <div>
                    <p>18k White color Gold Diamond</p>
                    <p>12k</p>
                </div>
            </div>
            <div class="item carousel__item">
                <i class="far fa-heart"></i>
                <img src="/images/21g1720.png" alt="">
                <div>
                    <p>18k White color Gold Diamond</p>
                    <p>12k</p>
                </div>
            </div>
            <div class="item carousel__item">
                <i class="far fa-heart"></i>
                <img src="/images/21g1720.png" alt="">
                <div>
                    <p>18k White color Gold Diamond</p>
                    <p>12k</p>
                </div>
            </div>
            <div class="item carousel__item">
                <i class="far fa-heart"></i>
                <img src="/images/21g1720.png" alt="">
                <div>
                    <p>18k White color Gold Diamond</p>
                    <p>12k</p>
                </div>
            </div>
            <div class="item carousel__item">
                <i class="far fa-heart"></i>
                <img src="/images/21g1720.png" alt="">
                <div>
                    <p>18k White color Gold Diamond</p>
                    <p>12k</p>
                </div>
            </div>
            <div class="item carousel__item">
                <i class="far fa-heart"></i>
                <img src="/images/21g1720.png" alt="">
                <div>
                    <p>18k White color Gold Diamond</p>
                    <p>12k</p>
                </div>
            </div>
            <div class="item carousel__item">
                <i class="far fa-heart"></i>
                <img src="/images/21g1720.png" alt="">
                <div>
                    <p>18k White color Gold Diamond</p>
                    <p>12k</p>
                </div>
            </div>
            <div class="item carousel__item">
                <i class="far fa-heart"></i>
                <img src="/images/21g1720.png" alt="">
                <div>
                    <p>18k White color Gold Diamond</p>
                    <p>12k</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-banner">
    <div class="section-banner__box">
        <img class="section-banner__img" src="/images/Box-04.png" alt="">
        <a class="btn btn-outline-light btn-lg rounded-0 mt-5" href="#">Shop Now</a>
    </div>
</section>

<section class="whats-new">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="whats-new__item">
                    <img src="/images/final-page-9.png" alt="" class="whats-new__img">
                    <div class="whats-new__content">
                        <div class="content__item">
                            <span class="whats-new__badge">Hot</span>
                            <h3 class="whats-new__heading">Earing</h3>
                            <div class="content__btn-con">
                                <a class="btn btn-outline-light btn-lg rounded-0" href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="whats-new__item">
                    <img src="/images/final-page-9.png" alt="" class="whats-new__img">
                    <div class="whats-new__content">
                        <div class="content__item">
                            <span class="whats-new__badge">Hot</span>
                            <h3 class="whats-new__heading">Earing</h3>
                            <div class="content__btn-con">
                                <a class="btn btn-outline-light btn-lg rounded-0" href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="whats-new__item">
                    <img src="/images/final-page-9.png" alt="" class="whats-new__img">
                    <div class="whats-new__content">
                        <div class="content__item">
                            <span class="whats-new__badge">Hot</span>
                            <h3 class="whats-new__heading">Earing</h3>
                            <div class="content__btn-con">
                                <a class="btn btn-outline-light btn-lg rounded-0" href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="whats-new__item">
                    <img src="/images/final-page-9.png" alt="" class="whats-new__img">
                    <div class="whats-new__content">
                        <div class="content__item">
                            <span class="whats-new__badge">Hot</span>
                            <h3 class="whats-new__heading">Earing</h3>
                            <div class="content__btn-con">
                                <a class="btn btn-outline-light btn-lg rounded-0" href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="heading__primary mt-5">
            <img src="/images/logo-mini.png" alt=""><br>
            <h1>whats new</h1>
        </span>
        <div class="owl-carousel owl-theme mt-4">
            <div class="item carousel__item">
                <i class="far fa-heart"></i>
                <img src="/images/21g1720.png" alt="">
                <div>
                    <p>18k White color Gold Diamond</p>
                    <p>12k</p>
                </div>
            </div>
            <div class="item carousel__item">
                <i class="far fa-heart"></i>
                <img src="/images/21g1720.png" alt="">
                <div>
                    <p>18k White color Gold Diamond</p>
                    <p>12k</p>
                </div>
            </div>
            <div class="item carousel__item">
                <i class="far fa-heart"></i>
                <img src="/images/21g1720.png" alt="">
                <div>
                    <p>18k White color Gold Diamond</p>
                    <p>12k</p>
                </div>
            </div>
            <div class="item carousel__item">
                <i class="far fa-heart"></i>
                <img src="/images/21g1720.png" alt="">
                <div>
                    <p>18k White color Gold Diamond</p>
                    <p>12k</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonial">
    <div class="container">
        <span class="heading__primary mb-5">
            <img src="/images/logo-mini.png" alt=""><br>
            <h1>Testimonial</h1>
        </span>

        <div class="testimonial__items">
            <div class="testimonial__item">
                <img src="/images/Untitled-test.png" alt="" class="testimonial__image">
                <p class="mt-5">&ldquo; There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some form, by injected humour, or randomised words which
                    don't look even slightly believable. If you are going to use a passage There are, but the
                    majority have suffered alteration in some form, by injected humour, or randomised words &rdquo;
                </p>
                <h4>Sonia Patil</h4>
            </div>

            <div class="testimonial__item">
                <img src="/images/Untitled-test.png" alt="" class="testimonial__image">
                <p class="mt-5">&ldquo; There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some form, by injected humour, or randomised words which
                    don't look even slightly believable. If you are going to use a passage There are, but the
                    majority have suffered alteration in some form, by injected humour, or randomised words &rdquo;
                </p>
                <h4>Sonia Patil</h4>
            </div>

            <div class="testimonial__item">
                <img src="/images/Untitled-test.png" alt="" class="testimonial__image">
                <p class="mt-5">&ldquo; There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some form, by injected humour, or randomised words which
                    don't look even slightly believable. If you are going to use a passage There are, but the
                    majority have suffered alteration in some form, by injected humour, or randomised words &rdquo;
                </p>
                <h4>Sonia Patil</h4>
            </div>
        </div>
    </div>
</section>

<%- include('includes/feature') -%>

<%- include('includes/subscribe') -%>

<%- include('includes/footer') -%>
<%- include('includes/end') -%>